.container {
  background-color: #36393f;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #18191c6b;
  padding-left: 8px;
  padding-right: 8px;
}
