.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #292b2f;
  padding: 0px 8px 0px 8px;
  position: relative;
}

.logoutContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 52px;
  background-color: #292b2f;
  padding: 0px 8px 0px 8px;
  position: absolute;
  top: -54px;
  right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.logoutContainer button {
  font-family: "Open Sans";
  border: none;
  color: #ed423f;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  margin: 0 12px;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
